<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.405856030276-1dn1b5m5nk7sgjgdi811cl08j74ql5n2</string>
            </array>
        </dict>
    </array>

    <key>NSContactsUsageDescription</key>
    <string>Beauty Planner uses your contacts to quickly suggest client names and phone numbers when creating appointments.</string>
</dict>
</plist>